


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav {
    background-color: darken($primaryColor, 45%);
}
nav {
    button {display: none;}
    ul, ul.classOpen{
        margin-right: auto;
        display: flex;
        justify-content: left;
        margin-left: 0;

        li a{
                border-bottom: none;
                width: 8.6rem;
        }
}
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul#navMenu{
    margin-left: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: darken($primaryColor, 60%);
    color: $fontColor;
    border-left: .5px solid rgb(241, 132, 132);
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: $secondaryColor;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: $fontColor;
}
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
